- @no_container = true
- page_title "Health Check"
= render 'admin/monitoring/head'

%div{ class: container_class }
  %h3.page-title
    Health Check
  .bs-callout.clearfix
    .pull-left
      %p
    Access token is
    %code#health-check-token= current_application_settings.health_check_access_token
    = button_to reset_health_check_token_admin_application_settings_path,
      method: :put, class: 'btn btn-default',
      data: { confirm: 'Are you sure you want to reset the health check token?' } do
      = icon('spinner')
      Reset health check access token
  %p.light
    Health information can be retrieved from the following endpoints. More information is available
    = link_to 'here', help_page_path('user/admin_area/monitoring/health_check')
    %ul
      %li
        %code= readiness_url(token: current_application_settings.health_check_access_token)
      %li
        %code= liveness_url(token: current_application_settings.health_check_access_token)
      %li
        %code= metrics_url(token: current_application_settings.health_check_access_token)

  %hr
  .panel.panel-default
    .panel-heading
      Current Status:
      - if @errors.blank?
        = icon('circle', class: 'cgreen')
        Healthy
      - else
        = icon('warning', class: 'cred')
        Unhealthy
    .panel-body
      - if @errors.blank?
        No Health Problems Detected
      - else
        = @errors
