- unless @project.empty_repo?
  - if current_user && can?(current_user, :fork_project, @project)
    - if current_user.already_forked?(@project) && current_user.manageable_namespaces.size < 2
      = link_to namespace_project_path(current_user, current_user.fork_of(@project)), title: 'Go to your fork', class: 'btn has-tooltip' do
        = custom_icon('icon_fork')
        %span Fork
    - else
      = link_to new_namespace_project_fork_path(@project.namespace, @project), class: 'btn' do
        = custom_icon('icon_fork')
        %span Fork
    .count-with-arrow
      %span.arrow
      = link_to namespace_project_forks_path(@project.namespace, @project), title: 'Forks', class: 'count' do
        = @project.forks_count
